.container {
  margin-top: 1rem;

  .scroll {
    overflow-y: scroll;
    height: 32rem;
  }

  table {
    width: 100%;
    border-spacing: 0 0.5rem;

    thead {
      background: var(--black);
      color: var(--white);
    }

    th {
      font-weight: bold;
      padding: 1rem 2rem;
      text-align: left;
      line-height: 1.5rem;
    }

    td {
      padding: 1rem 2rem;
      border: 0;
      background: var(--white);
      font-weight: bold;
      color: var(--dark-gray);

      a {
        transition: color 0.2s;

        &:hover {
          color: var(--green);
        }
      }
    }
  }
}
