.headerContainer {
  height: 5rem;
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  nav {
    display: flex;
    gap: 1rem;

    cursor: pointer;

    p {
      font-size: 0.8rem;
      color: var(--gray);
    }
  }

  button {
    margin-left: auto;
  }
}
