.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 10rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainSection {
  max-width: 600px;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 2.5rem;
    list-style: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: red;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;

    span {
      color: blue;
      font-weight: bold;
    }
  }
}

.signInButton {
  height: 3rem;
  border-radius: 3rem;
  background: var(--black);
  border: 0;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);

  font-weight: bold;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
  }

  transition: color 0.2s;

  &:hover {
    color: var(--green);
  }
}
